<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ path('home') }}"><img src="https://cdn.discordapp.com/attachments/740107862084288514/785592600882184262/839AB194-9541-4A1B-96C7-872B53FF864D.png" height= 60px></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarColor02">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{{ path('presentation') }}">Présentation
                    <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Maraude</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Voir la carte</a>
                    <a class="dropdown-item" href="#">Ajouter une maraude</a>
                    <a class="dropdown-item" href="#">Ajouter un spot</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Gérer mes maraudes</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Mon compte</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ path('user_index') }}">Mon espace</a>
                    <a class="dropdown-item" href="{{ path('maraude_index') }}">Mes maraudes</a>
                    <div class="dropdown-divider"></div>
                    {% if not app.user %}
                    <a class="dropdown-item" href="{{ path('app_login') }}">Se connecter</a>
                    <a class="dropdown-item" href="{{ path('app_register') }}">S'enregistrer</a>
                    {% endif %}
                    {% if app.user %}
                    <a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a>
                    {% endif %}
                  </div>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Administration</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ path('app_login') }}">Gérer les utilisateurs</a>
                    <a class="dropdown-item" href="">Gérer les maraudes</a>
                    <a class="dropdown-item" href="">Gérer la map</a>
                  </div>
                </li>
                {% endif %}
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>